.main-content-container {
  display: grid;
  grid-template-columns: repeat(5, 8.46cm);
  grid-template-rows: repeat(8, 8.46cm);
}

.main-content-container img {
  height: 8.33cm;
  width: 8.33cm;
}

.main-content-container > .section-one {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 5px;
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-one > .content-wrapper-1 {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
}

.main-content-container > .section-one > .content-wrapper-1 a:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.main-content-container > .section-one > .content-wrapper-1 a:last-child {
  grid-row-start: 1;
  grid-column-start: 1;
  position: absolute;
}

.main-content-container
  > .section-one
  > .content-wrapper-1
  a:first-child:hover {
  z-index: 5;
  filter: opacity(0);
}

.main-content-container > .section-one > .content-wrapper-3 {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
}

.main-content-container > .section-one > .content-wrapper-3 a:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.main-content-container > .section-one > .content-wrapper-3 a:last-child {
  grid-row-start: 1;
  grid-column-start: 1;
  position: absolute;
}

.main-content-container
  > .section-one
  > .content-wrapper-3
  a:first-child:hover {
  z-index: 5;
  filter: opacity(0);
}

.main-content-container > .section-one > .content-wrapper-5 {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
}

.main-content-container > .section-one > .content-wrapper-5 a:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.main-content-container > .section-one > .content-wrapper-5 a:last-child {
  grid-row-start: 1;
  grid-column-start: 1;
  position: absolute;
}

.main-content-container
  > .section-one
  > .content-wrapper-5
  a:first-child:hover {
  z-index: 5;
  filter: opacity(0);
}

.main-content-container > .section-two {
  display: flex;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 5px;
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-two > .content-wrapper {
  /* width: 8.33cm;
  height: 8.33cm; */
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-two > .content-wrapper img {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-three {
  display: flex;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 5px;
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-three > .content-wrapper {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-three > .content-wrapper img {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-four {
  display: flex;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 5px;
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-four > .content-wrapper {
  width: 18.33cm;
  height: 8.33cm;
}

.main-content-container > .section-four > .content-wrapper img {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-five {
  display: flex;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 5px;
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-five > .content-wrapper {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-five > .content-wrapper img {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-six {
  display: flex;
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 5px;
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-six > .content-wrapper {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-six > .content-wrapper img {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-seven {
  display: flex;
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 5px;
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-seven > .content-wrapper {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-seven > .content-wrapper img {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-eight {
  display: flex;
  grid-row-start: 8;
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 5px;
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-eight > .content-wrapper {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-eight > .content-wrapper img {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-eight > .content-wrapper-3 img {
  width: 8.33cm;
  height: 8.33cm;
}

.main-content-container > .section-eight > .content-wrapper-3 {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
}

.main-content-container > .section-eight > .content-wrapper-3 a:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.main-content-container > .section-eight > .content-wrapper-3 a:last-child {
  grid-row-start: 1;
  grid-column-start: 1;
  position: absolute;
}

.main-content-container
  > .section-eight
  > .content-wrapper-3
  a:first-child:hover {
  z-index: 5;
  filter: opacity(0);
}
