.main-container {
  background-image: url("../images/fabian-moller-gI7zgb80QWY-unsplash.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17in 16in;
  background-attachment: fixed;
  padding: 0;
}

i {
  /* color: rgb(33, 109, 109); */
  color: white;

  transition: white 0.5s;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

i:hover {
  background-color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 10px #0fa, 0 0 12px #0fa;
}

/* a {
    background-color: powderblue;
    transition: background-color 0.5s;
  }
  
  a:hover {
    background-color: gold;
  } */

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
  font-size: 1.7cm;
} */

/* nav */
.main-container > .nav-wrapper > .links-wrapper,
.main-container > .nav-wrapper {
  display: flex;
  flex-direction: row;
}

.main-container > .nav-wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 59px;
  width: 41.8cm;
  margin: 0px;
  align-items: center;
}

.main-container > .nav-wrapper > .links-wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 59px;
  align-items: center;
}

.main-container > .nav-wrapper > .links-wrapper > .nav-link,
.main-container > .nav-wrapper > .search-icon-wrapper {
  width: 8.5cm;
  display: flex;
  justify-content: space-around;
}

/* .main-container > .nav-wrapper > .search-icon-wrapper {
  display: flex;
  align-items: flex-end;
} */

/* Body content */
.main-container > .main-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3in 1in 2in 1in;
  border: 2px solid hotpink;
}

.main-container > .main-content-wrapper > div:nth-of-type(1) h1 {
  font-size: 1.7in;
  text-shadow: 0 0 18px #fff, 0 0 3px #fff, 0 0 5px #fff;
  color: white;
}

/* #icecream > i  */

.main-container > .main-content-wrapper h3 {
  text-shadow: 0 0 18px #fff, 0 0 3px #fff, 0 0 5px #fff;
  color: white;
  margin-bottom: 2in;
}

.main-container > .main-content-wrapper > .content-item > p {
  color: white;
  font-size: 1.7cm;
  text-shadow: 0 0 18px #fff, 0 0 3px #fff, 0 0 5px #fff;
  display: flex;
}

.main-container > .main-content-wrapper > .multi-items1 h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
  font-size: 1.7cm;
  text-shadow: none;
}

.main-container > .main-content-wrapper > .multi-items1 p {
  color: black;
  font-size: xx-large;
  text-shadow: none;
  margin: 1in;
}

.main-container > .main-content-wrapper > .multi-items1 > .content-item1 {
  display: flex;
  flex-direction: row;
  width: 7in;
  height: 3in;
  align-items: center;
  /* border: 0.5px solid hotpink; */
  /* background: hotpink;
  box-shadow: 0cm -3px 82px 90px hotpink; */
  background-color: rgb(255 105 180 / 53%);
  box-shadow: 0cm 1mm 218px 25px hotpink;
  border-radius: 150px;
  margin: 3in 0;
  font-size: xx-large;
  /* opacity: 40%; */
}

.main-container > .main-content-wrapper > .multi-items2 {
  width: 10in;
}

.main-container > .main-content-wrapper > .multi-items2 > div:nth-of-type(2) {
  margin: 3in 20.5cm;
}

.main-container > .main-content-wrapper > .multi-items2 h4 {
  margin: 0;
  padding: 0;
}

.main-container > .main-content-wrapper > .multi-items2 i {
  margin-top: 33px;
}

.main-container > .main-content-wrapper > .multi-items2 > .content-item2 {
  display: flex;
  flex-direction: column;
  width: 2in;
  height: 2in;
  align-items: center;
  /* border: 0.5px solid hotpink; */
  /* background: hotpink; */
  background-color: rgb(255 105 180 / 58%);
  box-shadow: 0cm -1px 102px 23px hotpink;
  border-radius: 115px;
  margin: 3in 0;
  /* opacity: 40%; */
  /* 0cm -3px 82px 90px hotpink; */ /* rgba(255, 105, 180, 0.4) */
  justify-content: space-evenly;
}

.main-container > .main-content-wrapper > .multi-items2 > .content-item2 > h4 {
  opacity: 100%;
}

#martini i {
  padding: 0 7in;
}

.main-container > .main-content-wrapper > .multi-items3 {
  display: flex;
  margin: 0 26px;
  width: 11in;
  justify-content: space-between;
}

.main-container > .main-content-wrapper > .multi-items3 > .content-item3 {
  display: flex;
  flex-direction: row;
  width: 4in;
  height: 3in;
  align-items: center;
  /* border: 0.5px solid hotpink; */
  background-color: rgb(255 105 180 / 53%);
  box-shadow: 0cm 0mm 218px 39px hotpink;
  border-radius: 150px;
  margin: 3in 0;
  /* opacity: 40%; */
  justify-content: center;
}

.main-container > .main-content-wrapper > .multi-items3 > .content-item3 h6 {
  display: flex;
  justify-content: center;
  font-size: 15mm;
  margin: 0 103px;
}

#ice-cream i {
  padding: 0 4in;
}

.main-container > .main-content-wrapper > .multi-items3 > div:nth-of-type(2) {
  display: flex;
  margin: 0 0 0 193px;
  width: 8in;
  justify-content: space-between;
}

.main-container > .main-content-wrapper > .multi-items4 > div:nth-of-type(1) {
  display: flex;
  margin: 0 1in;
  width: 8in;
  justify-content: space-between;
}

.main-container > .main-content-wrapper > .multi-items4 > .content-item4 {
  display: flex;
  flex-direction: row;
  width: 8in;
  height: 3in;
  align-items: center;
  background: hotpink;
  border-radius: 150px;
  margin: 3in 0;
  /* border: 0.5px solid hotpink; */
  /* opacity: 40%; */
  /* box-shadow: 0cm -3px 82px 90px hotpink; */
  background-color: rgb(255 105 180 / 53%);
  box-shadow: 0cm 1.3px 250px 15px hotpink;
  justify-content: space-between;
}
.main-container > .main-content-wrapper > .multi-items4 > div:nth-of-type(4) {
  width: 10in;
}

.main-container > .main-content-wrapper > .multi-items4 > div:nth-of-type(2) p {
  padding: 0 99px;
  color: black;
  font-size: 1.7cm;
  text-shadow: none;
  font-size: 10mm;
}

.main-container > .main-content-wrapper > .multi-items4 > div:nth-of-type(3) p {
  padding: 0 99px;
  color: black;
  font-size: 1.7cm;
  text-shadow: none;
  font-size: 10mm;
}

/* Footer */
.main-container > .footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 59px;
  align-items: center;
}

.main-container > .footer > a {
  display: flex;
  justify-content: center;
  color: #fff;
}

.main-container > .footer > a > i {
  margin: 0 0 0 47px;
}

.main-container > .footer > .social-icon-wrapper {
  display: contents;
}

.main-container > .footer > .social-icon-wrapper > i {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
