.main-container {
  background-image: url("../images/fabian-moller-gI7zgb80QWY-unsplash.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17in 16in;
  background-attachment: fixed;
  padding: 0;
}

i {
  /* color: rgb(33, 109, 109); */
  color: #fff;
  text-shadow: 0 0 18px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
  font-size: 1.7cm;
} */

/* nav */
.main-container > .nav-wrapper > .links-wrapper,
.main-container > .nav-wrapper {
  display: flex;
  flex-direction: row;
}

.main-container > .nav-wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 59px;
  width: 41.8cm;
  margin: 0px;
  align-items: center;
}

.main-container > .nav-wrapper > .links-wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 59px;
  align-items: center;
}

.main-container > .nav-wrapper > .links-wrapper > .nav-link,
.main-container > .nav-wrapper > .search-icon-wrapper {
  width: 8.5cm;
  display: flex;
  justify-content: space-around;
}

/* .main-container > .nav-wrapper > .search-icon-wrapper {
  display: flex;
  align-items: flex-end;
} */

/* Body content */
.main-container > .main-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3in 1in 2in 1in;
  border: 2px solid hotpink;
}

.main-container > .main-content-wrapper > div:nth-of-type(1) h1 {
  font-size: 2.6in;
}

.main-container > .main-content-wrapper > .content-item > p {
  color: white;
  font-size: 1.7cm;
  text-shadow: 0 0 18px #fff, 0 0 3px #fff, 0 0 5px #fff;
}

.main-container > .main-content-wrapper > .multi-items1 h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
  font-size: 1.7cm;
  text-shadow: none;
}

.main-container > .main-content-wrapper > .multi-items1 > .content-item1 {
  display: flex;
  flex-direction: row;
  width: 11in;
  height: 3in;
  align-items: center;
  border: 0.5px solid hotpink;
  background: hotpink;
  border-radius: 115px;
  margin: 3in 0;
  opacity: 40%;
  box-shadow: 0cm -3px 82px 90px hotpink;
}

.main-container > .main-content-wrapper > .multi-items2 {
  width: 10in;
}

.main-container > .main-content-wrapper > .multi-items2 > div:nth-of-type(2) {
  margin: 3in 20.5cm;
}

.main-container > .main-content-wrapper > .multi-items2 h4 {
  margin: 0;
  padding: 0;
}

.main-container > .main-content-wrapper > .multi-items2 i {
  margin-top: 33px;
}

.main-container > .main-content-wrapper > .multi-items2 > .content-item2 {
  display: flex;
  flex-direction: column;
  width: 2in;
  height: 2in;
  align-items: center;
  border: 0.5px solid hotpink;
  background: hotpink;
  border-radius: 115px;
  margin: 3in 0;
  opacity: 40%;
  box-shadow: 0cm -3px 82px 90px hotpink;
  justify-content: space-evenly;
}

.main-container > .main-content-wrapper > .multi-items3 {
  display: flex;
  margin: 0 26px;
  width: 11in;
  justify-content: space-between;
}

.main-container > .main-content-wrapper > .multi-items3 > .content-item3 {
  display: flex;
  flex-direction: row;
  width: 4in;
  height: 3in;
  align-items: center;
  border: 0.5px solid hotpink;
  background: hotpink;
  border-radius: 115px;
  margin: 3in 0;
  opacity: 40%;
  box-shadow: 0cm -3px 82px 90px hotpink;
  justify-content: center;
}

.main-container > .main-content-wrapper > .multi-items3 > div:nth-of-type(3) {
  display: flex;
  margin: 0 0 0 193px;
  width: 8in;
  justify-content: space-between;
}

.main-container > .main-content-wrapper > .multi-items4 > div:nth-of-type(1) {
  display: flex;
  margin: 0 1in;
  width: 8in;
  justify-content: space-between;
}

.main-container > .main-content-wrapper > .multi-items4 > .content-item4 {
  display: flex;
  flex-direction: row;
  width: 8in;
  height: 3in;
  align-items: center;
  border: 0.5px solid hotpink;
  background: hotpink;
  border-radius: 115px;
  margin: 3in 0;
  opacity: 40%;
  box-shadow: 0cm -3px 82px 90px hotpink;
  justify-content: space-between;
}
.main-container > .main-content-wrapper > .multi-items4 > div:nth-of-type(4) {
  width: 10in;
}

/* Footer */
.main-container > .footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 59px;
  align-items: center;
}

.main-container > .footer > a {
  display: flex;
  justify-content: center;
  color: #fff;
}

.main-container > .footer > a > i {
  width: 5.5cm;
  margin: 0 0 0 47px;
}

.main-container > .footer > .social-icon-wrapper {
  display: contents;
}

.main-container > .footer > .social-icon-wrapper > i {
  display: flex;
  justify-content: space-evenly;
  width: 6.5cm;
  align-items: center;
}
